---
title: "Notary Verification"
parent: "First Steps"
nav_order: 3430
grand_parent: "Power Applications"
permalink: /docs/first_steps/power_apps/notary-verification.html
---

# Notary Verification