---
title: "Verification"
parent: "First Steps"
nav_order: 3340
grand_parent: "Core Applications"
permalink: /docs/first_steps/core_apps/verification.html
---

# Verification

The general Verification DApp allows you, to check the validity of verification of an special identity every time in an detailed overview. You can also issue, decline and accept new verification. If you haven't an identity management service yet, the UI will ask you to create one.

Insert a claim path and an user for that you want to check the claim. If the claim isn't issued yet, you can issue the claim to the selected account.

[![onboarding start screen](/docs/3000_first_steps/img/verification.png){:width="50%"}](/docs/3000_first_steps/img/verification.png)

If you have purchased the root domain of a specific verficiation domain, you will be able to set the title and the preview image of verifications with a specific type. Simply use the edit button in the top right corner of the verification detail.

[![onboarding start screen](/docs/3000_first_steps/img/verification-edit.png){:width="50%"}](/docs/3000_first_steps/img/verification-edit.png)