.nav-item:first-child {
    border-top: 1px #e5e5e5 solid;
}

.nav-item {
    border-bottom: 1px #e5e5e5 solid;
}

.evan.theme-evan .nav-item a {
    font-size: var(--evan-text-font-size);
    color: var(--evan-dark);
}

.evan.theme-evan .nav-item.active{
    border-left-color: var(--evan-primary);
}

.evan.theme-evan .nav-item{
    border-left: 4px solid;
    border-left-color: transparent;
}

.evan.theme-evan .nav-item:hover{
    border-left: 4px solid;
    border-left-color: var(--evan-primary);
}

.evan.theme-evan .nav-item:hover a {
    color: var(--evan-primary);
}

.evan.theme-evan .nav-item.active a {
    color: var(--evan-primary);
}

.evan.theme-evan img {
    max-width: 100%;
}