/************************************ theming *****************************************************/ 
.theme-wiki {
  --evan-h1-font-size: 1.7em;
  --evan-h2-font-size: 1.375em;
  --evan-h3-font-size: 1.2em;
}

.theme-wiki p, span, li, a {
  text-align: justify;
}

.evan.theme-evan p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5rem;
}

.evan.theme-evan h1, .evan.theme-evan .h1,
.evan.theme-evan h2, .evan.theme-evan .h2,
.evan.theme-evan h3, .evan.theme-evan .h3,
.evan.theme-evan h4, .evan.theme-evan .h4,
.evan.theme-evan h5, .evan.theme-evan .h5,
.evan.theme-evan h6, .evan.theme-evan .h6 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.evan.theme-evan h1:first-child {
  margin-top: 0;
}

.evan.theme-evan .container .inner-content svg,
.evan.theme-evan .container .inner-content img {
  padding: 1rem;
  border: 1px solid var(--evan-border-color);
  margin: 2rem 0;
  box-shadow: 0 0 3px 0px var(--evan-border-color);
}

.evan.theme-evan ol, .evan.theme-evan ul, .evan.theme-evan dl {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.evan.theme-evan ol ol, .evan.theme-evan ul ul, .evan.theme-evan ol ul, .evan.theme-evan ul ol {
  margin-bottom: 0.5rem;
}

.evan.theme-evan ul ul {
  margin-left: -20px !important;
  margin: 0 0 0 -20px !important;
}

div.highlighter-rouge {
  background-color: var(--evan-bg-level-2);
  padding: 1rem 1rem 0 1rem;
  margin: 1rem 0;
  border: 1px solid var(--evan-border-color);
}

div.highlighter-rouge pre {
  margin-top: 0;
  margin-bottom: 0;
}

body.sidebar-overlay {
  overflow: hidden;
}

.evan.theme-evan code.highlighter-rouge {
  background-color: var(--evan-bg-level-2);
  padding: 0.2em;
  color: black;
  border: 1px solid var(--evan-border-color);
}

/************************************ side panel ***************************************************/ 

.nav-item:first-child {
  border-top: 1px #e5e5e5 solid;
}

.nav-item {
  border-bottom: 1px #e5e5e5 solid;
}

.evan.theme-evan .nav-item a {
  font-size: var(--evan-text-font-size);

  color: var(--evan-dark);
}

.evan.theme-evan .nav-item.active {
  border-left-color: var(--evan-primary);
}

.evan.theme-evan .nav-item {
  border-left: 4px solid;
  border-left-color: transparent;
}

.evan.theme-evan .nav-item > ul > .nav-item {
  border-left: 0 solid;
}

.evan.theme-evan .nav-item ul {
  display: none;
}

.evan.theme-evan .nav-item.active ul {
  display: block;

  margin-left: 20px;
}

.evan.theme-evan .nav-item:hover {
  border-left: 4px solid;
  border-left-color: var(--evan-primary);
}

.evan.theme-evan .nav-item > ul > .nav-item:hover {
  border-left: 0 solid;
}

.evan.theme-evan .nav-item:hover > a {
  color: var(--evan-primary);
}

.evan.theme-evan .nav-item.active > a {
  color: var(--evan-primary);
}

.evan.theme-evan img {
  max-width: 100%;
}

.dapp-wrapper-sidebar-2 {
  margin-top: -10px;
}

.evan .evan-dapp-wrapper .dapp-wrapper-body .dapp-wrapper-sidebar-2 > * {
  height: auto;
}
