{% assign pages_list = site.html_pages | sort:"nav_order" %}
{% for node in pages_list %}
  {% unless node.nav_exclude %}
    {% if node.has_children and page.parent == node.title %}
      {% assign children_list = site.html_pages | sort:"nav_order" %}
        <div
          class="bg-level-1 border-bottom border-sm evan-triangle left px-3 py-4"
          style="overflow: visible;">
          <h4 class="m-0">Topics</h4>
        </div>
        {% for child in children_list %}
          {% if child.parent == node.title and node.title != child.title and child.grand_parent == nil %}
            {% if page.url == child.url or page.parent == child.title %}
              {% assign second_level_url = child.url | absolute_url %}
            {% endif %}
            <div class="border-bottom border-sm">
              <div class="d-flex align-items-center pl-3 pr-3 py-3">
                {% if child.has_grand_children %}
                  <button class="btn mini mr-3">
                    {% if page.url == child.url or page.grand_parent == child.title %}
                      <i class="fas fa-chevron-up"></i>
                    {% else %}
                      <i class="fas fa-chevron-down"></i>
                    {% endif %}
                  </button>
                  {% else %}
                  <button class="btn mini mr-3">
                    <i class="fas fa-chevron-right"></i>
                  </button>
                {% endif %}
                <a href="{{ child.url | absolute_url }}"
                  class="d-flex align-items-center m-0 font-weight-semibold dark-link {% if page.url == child.url or page.grand_parent == child.title %}active{% endif %}">
                  {{ child.title }}
                </a>
              </div>
              {% if child.has_grand_children and (page.url == child.url or page.grand_parent == child.title) %}
                {% assign grand_children_list = site.html_pages | sort:"nav_order" %}
                <div class="pl-7 pr-3 pb-3">
                  {% for grand_child in grand_children_list %}
                    {% if grand_child.grand_parent == child.title %}
                      <a href="{{ grand_child.url | absolute_url }}"
                        class="d-flex align-items-center dark-link mb-2 {% if page.url == grand_child.url %} active{% endif %}">
                        {{ grand_child.title }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
  {% endunless %}
{% endfor %}
