{% assign pages_list = site.html_pages | sort:"nav_order" %}
{% for node in pages_list %}
  {% unless node.nav_exclude %}
    {% if node.has_children %}
      <a class="d-block p-3 w-100 text-center border-right border-bottom clickable all-transition {% if page.url == node.url or page.parent == node.title or page.grand_parent == node.title %} bg-text-secondary bg-secondary {% else %} bg-level-1 bg-text-light {% endif %}" href="{{ node.url | absolute_url }}">
        {% if page.parent == node.title or page.grand_parent == node.title %}
          {% assign first_level_url = node.url | absolute_url %}
        {% endif %}
        {{ node.title }}
      </a>
    {% endif %}
  {% endunless %}
{% endfor %}
